#formIngresarClientes {
    margin-top: 15px !important;
    margin: auto;
    border: 1px solid black;
    background-image: linear-gradient(-0deg, #006CB7, #43B2FF) !important;
    box-shadow: 0 1px 1px 0;
}

#tablaIngresarClientes {
    margin: auto !important;
}

#btnIngresarClientes {
    width: 100%;
}

#tablaMostrar {
    text-align: center;
    width: 100%;
}

#tablaMostrar th {
    background-color: #006CB7 !important;
    text-align: center;
}

#menu {
    background-color: #006CB7 !important;
    width: 100% !important;
}

#menu a {
    color: white !important;
}

#menu a:hover {
    color: gray !important;
}

@media (max-width: 576px) {
    #formIngresarClientes {
        margin: auto !important;
    }
    #menu {
        background-color: #006CB7 !important;
        width: 100% !important;
    }
    .table {
        padding: 0px;
        zoom: 68%;
    }
    #tablaMostrar th {
        height: 60px;
        width: auto;
        padding: 0px;
        padding-bottom: 40px;
    }
}

@media (max-with:768px) {
    #formIngresarClientes {
        margin: auto !important;
    }
    .table {
        padding: 0px;
        zoom: 68%;
    }
    #tablaMostrar th {
        height: 60px;
        width: auto;
        padding: 0px;
        padding-bottom: 40px;
    }
}


}